.contendor_Buscador
{
    background-color: rgb(238, 238, 238);
    height: 89vh;
    overflow-y: scroll;
    padding: 20px;
}
mat-form-field{
    width: 100%;
}
.contenido{
    padding:5px;    
}
.contenido:hover{
    background-color: rgba(0,0,0,.1);
    cursor: pointer;
}
.contenido p{
    font-size: 20px;
}
