<div style="justify-content: center; text-align: center;">
    <h1 mat-dialog-title *ngIf="data.dialog=='add'">Agregar Cancion</h1>
    <h1 mat-dialog-title *ngIf="data.dialog=='editar'">Editar Cancion</h1>
    <div mat-dialog-content style="height: auto">  
      <form action=""  [formGroup]="FormSong">
          <div fxLayout="row">
            <div fxFlex >
                <mat-form-field>
                    <mat-label>Nombre de la cancion</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
            </div>
          </div>
          <div fxLayout="row">
                <div fxFlex style="text-align: center;">
                    <mat-form-field>
                        <mat-label>Numero de cancion</mat-label>
                        <input type="number" matInput formControlName="number">
                    </mat-form-field>
                </div>    
                <div fxFlex style="text-align: center;">
                    <mat-form-field>
                        <mat-label>Duracion</mat-label>
                        <input matInput formControlName="duration">
                    </mat-form-field>
                </div>
          </div>
        <div fxLayout="row">
            <div fxFlex>   
                <mat-form-field>
                    <mat-label>Genero</mat-label>
                    <mat-select formControlName="genero">
                        <mat-option *ngFor="let genero of generos" value="{{genero._id}}" >
                          {{genero.name}}                                                    
                        </mat-option>
                      </mat-select>
                </mat-form-field>  
            </div>
        </div>        
        <div fxLayout="row" fxLayoutAlign="center center" >
            <div fxFlex>
                <div class="btn-upload">
                    <label for="img-upload">              
                      <img src="../../../../assets/imag/addSong.png" alt="addSong" width="70px" matTooltip="Agregar Cancion">                                
                    </label>
                    <input type="file" id="img-upload" (change)="fileChangeEvent($event)">                     
                </div>
            </div>            
            <div fxFlex>
                <p *ngFor="let file of filesToUpload"> {{file.name}}</p>
            </div>                                    
        </div>
      </form>
    </div>
    <div mat-dialog-actions style="justify-content: center;">
      <button mat-button (click)="onNoClick()">Cerrar</button>      
      <button mat-button  color="warn" (click)="addSong(FormSong.value)" [mat-dialog-close]="FormSong.value" [disabled]="FormSong.invalid"  *ngIf="data.dialog=='add'">Agregar</button>
      <button mat-button  color="warn" (click)="editSong(FormSong.value)" [mat-dialog-close]="FormSong.value" [disabled]="FormSong.invalid"  *ngIf="data.dialog=='editar'">Modificar</button>
    </div>
  </div>