<div fxLayout="row" >
    <div fxFlex>
        <app-barra-superior></app-barra-superior>
    </div>    
</div>
<div fxLayout="row" class="contenedor" *ngIf="token_caducado==false">
    <div fxFlex>
        <h3>{{msj}}</h3>
        <div class="spinner">
            <mat-progress-bar *ngIf="spinnerStatus" mode="query"></mat-progress-bar>    
        </div>
        <div>
            <a href="http://localhost:4200/">Regresar a la pagina principal</a>
        </div>
    </div>    
</div>
<div fxLayout="row" class="contenedor" *ngIf="token_caducado==true">
    <div fxFlex style="text-align: center;">
        <h3>{{msj}}</h3>        
        <div>
            <a href="http://localhost:4200/">Regresar a la pagina principal</a>
        </div>
        <div>
            <img src="../../../../assets/imag/token_caducado.png" alt="token_caducado" width="300px">
        </div>
    </div>    
</div>
