<div fxLayout="row" fxLayout.lt-sm="column" *ngIf="identity" style="background-color: rgb(238, 238, 238);height:89vh">     
    <div fxFlex>       
        <div fxLayout="row wrap" fxLayoutAlign="space-evenly  center"  class="contenedor_form">            
            <div fxFlex="60" fxFlex.xs="90" class="form-edit">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            {{title}}
                        </mat-card-title>                        
                    </mat-card-header>
                    <mat-card-content>
                        <form  novalidate [formGroup]="FormUpdateUser"  (ngSubmit)="onSubmit()">    
                            <div fxLayout="row wrap">
                               <div fxFlex>
                                  <mat-form-field>              
                                      <mat-label>Nombre</mat-label>
                                       <input 
                                        type="text"                                                                
                                        formControlName="name" 
                                        matInput 
                                        >
                                        <mat-icon matSuffix>people</mat-icon>                
                                 </mat-form-field>   
                                 <mat-hint style="color:red" *ngIf="FormUpdateUser.get('name').touched && FormUpdateUser.get('name').hasError('required')">
                                  *Nombre Requerido
                                 </mat-hint>
                               </div>             
                             </div>        
                           <div fxLayout="row wrap">
                              <div fxFlex>
                                  <mat-form-field>              
                                      <mat-label>Email</mat-label>
                                      <input 
                                          type="email"
                                          formControlName="email" 
                                          matInput 
                                       >                
                                       <mat-icon matSuffix>email</mat-icon>
                                  </mat-form-field>   
                                  <mat-hint style="color:red" *ngIf="FormUpdateUser.get('email').hasError('email')">
                                      *Email Invalido
                                  </mat-hint>
                              </div>
                              <div fxFlex *ngIf="identity.register=='musify'">
                                  <mat-form-field>              
                                      <mat-label>Password</mat-label>
                                      <input 
                                          type="password"
                                          formControlName="password" 
                                          matInput>
                                          <mat-icon matSuffix>vpn_key</mat-icon>
                                  </mat-form-field>                           
                                  <mat-hint style="color:red" *ngIf="FormUpdateUser.get('password').hasError('minlength') ">
                                    *Password minimo de 4 caracteres
                                </mat-hint>
                              </div>                      
                          </div>     
                          <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column" class="btn-upload">                                                    
                            <div fxFlex>                                                        
                                <input type="file" id="img-upload" (change)="fileChangeEvent($event)">                            
                                <div fxLayout="row" fxLayoutAlign="center center" >
                                    <div fxFlex>
                                        <label for="img-upload">    
                                            <!-- <i class="material-icons" matTooltip="Editar imagen de perfil" style="font-size: 25px;cursor: pointer;">edit</i> -->
                                            Cambiar imagen de perfil
                                        </label>
                                    </div>
                                </div>                                
                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <div fxFlex>
                                        <span *ngIf="filesToUpload">
                                            Imagen Seleccioanda
                                        </span>
                                        <!-- <span *ngIf="!filesToUpload">
                                            
                                        </span> -->
                                    </div>
                                </div>
                            </div>                
                            <div fxFlex fxLayoutAlign="center end"  style="margin-top:20px">
                                <button type="submit" [disabled]="FormUpdateUser.invalid" color="primary" mat-raised-button class="btn">Modificar</button>             
                             </div>   
                          </div>                                             
                        </form>   
                    </mat-card-content>                    
                </mat-card>      
            </div>   
        </div>
    </div>
</div> 
<div fxLayout="row" fxLayout.lt-sm="column" *ngIf="!identity"> 
    <div fxFlex ="20"fxFlex.md="20" fxFlex.sm="40" fxFlex.xs="100" class="menu-lateral">
        Inicia sesion
    </div>
   
</div> 
