.menu-lateral
{    
  /* background-color: rgba(0,0,0,.5); */
  background-color: rgba(0,0,0,.8);
  padding: 10px;
  height: 89vh;  
}
 mat-nav-list 
  {    
    height: auto;
    width: 100%;        
  }    
  mat-nav-list span{
    /* color:rgba(0, 0, 0,.6);         */
    color:white;
    font-family: 'Montserrat', sans-serif;
  }
  mat-nav-list mat-icon
  {
    /* color:rgba(0, 0, 0,.6);         */
    color:white
  }    
  @media (max-width: 600px) {
    .menu-lateral
    {  
      height: auto;      
    } 
  }
  
  

  
